* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: gray;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

header h1 {
    margin: 0;
    font-size: 6rem;
    color: white;

}

header img {
    width: 150px
}

header div a {
    font-size: 1.5rem;
    color: white;
}

header div a:hover {
    color: rgb(201, 250, 126);
} 

header div {
    display: flex;
    align-items: center;
}

header {
    background-color: rgb(43, 102, 43);
}

main {
    width: 65%;
    background-color: white;
    margin: auto;
    padding: 30px;
}

main p {
    font-size: 1.5rem;
}

main img {
    width: 65%;
    border-radius: 1rem;
}

footer {
    text-align: center;
    font-size: 2rem;
    background-color:  rgb(43, 102, 43);
    padding: 1rem;
    color: white;
}

.image {
    text-align: center;
}